#heading{
    text-align:center;
    color:red;
    margin: 1px;
}

#headshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 40%
}

.contain{
    display:flex;
    justify-content:space-around;
    background-color: black;
    margin: 8px;
}

.row{
    color:red;
}

body{
    background-color: #d2b48c;
}

#porth1{
    text-align: center;
    font-family: 'Lobster', cursive;
}


.gallery, .contactSN, .underSN, .gallery2 {
    display: flex;
    justify-content: space-between;
}

.underGallery, .underGallery2{
    display: flex;
    justify-content: center;
}


.thumbnail-image, .thumbnail-image2{
    margin: 47px;
    border: 5px solid;
    width: 225px;
    height: 250px;
}


.textUnder{
    margin-left: 100px;
    margin-right: 100px;
}

.textUnder2{
    margin-left: 120px;
    margin-right: 120px;
}

.IMGofSN{
    margin: 10px;
    width: 270px;
    height: 270px;
}

.textUnderSN{
    margin: 30px;
    width: 250px;
}

.aboutMain{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20%

}

.leftPane{
    width:50%;
}

.rightPane{
    background-image: url(aboutme.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 411px;
}